@model SlotCarsGo_Server.Models.ViewModels.ChangeTrackViewModel
@using (Html.BeginForm("ChangeTrack", "Garage", FormMethod.Post, new { @class = "form-inline", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedTrackId, new { @class = "col-xs-2 control-label", style = "width:75px" })
        <div class="col-xs-7">
            @Html.DropDownListFor(m => m.SelectedTrackId, Model.MyTracksListItems, "-- Select Track --", new { @class = "form-control", style = "width:250px" })
        </div>
        <div class="col-xs-offset-1 col-xs-2">
            <input type="submit" class="btn btn-primary" value="Refresh" />
        </div>
    </div>
}

