

<div class="jumbotron" style="background-color:#FFD968">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <img src="~/Content/Images/SoftTrackPostcard_400.png" style="max-width:100%; height:auto;margin-left:auto;margin-right:auto;display:block;" />
        </div>
        <div class="col-xs-12 col-lg-6">
            <h1 style="color:white;">Race History</h1>
            <p>New feature - coming soon!</p>
        </div>
    </div>
</div>
