
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <p>Slot Cars Go! is a race management system for the Scalextric<sup>&reg;</sup> Digital 6-Car Powerbase system by Hornby Ltd.</p>
        <p>
            Inspired by the <a href="http://ssdc.jackaments.com/">Scalextric Sport Digital Console</a> system, Slot Cars Go! is the first
            client-server solution for the Scalextric 6-Car Powerbase that allows players to view their race sessions on the web (AFAIK).
        </p>
    </div>
    <div class="col-xs-12 col-lg-6">
        <img src="~/Content/Images/c7042-advanced-6-car-powerbase-box.jpg"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-6">
        <img src="~/Content/Images/RaceTypeSelect.png" />
        <br/>
        <img src="~/Content/Images/RaceHUD.png" />
    </div>
    <div class="col-xs-12 col-lg-6">
        <p>The Slot Cars Go! race management client is available for any device running Windows 10 - from a PC, laptop to a Raspberry Pi!</p>
        <p>Requirements:</p>
        <ol>
            <li>Scalextric<sup>&reg;</sup> <a href="https://www.scalextric.com/uk-en/scalextric-digital-advanced-6-car-powerbase.html">Digital 6-Car Powerbase</a></li>
            <li>Custom USB to C7042 APB Cable from <a href="http://www.rikorocket.co.uk/products/usb-to-c7042-apb/">RikoRocket</a></li>
            <li>Any device running Windows 10:</li>
            <ol>
                <li>PC on Windows 10</li>
                <li>Laptop on Windows 10</li>
                <li>Raspberry Pi on Windows 10 IoT Core</li>
            <ol/>
            <li>The SlotCarsGo! Universal Windows Application</li>
            <li>An internet connection</li>
            <li>A free account here at <a href="https://slotcarsgo.timtyler.co.uk">Slot Cars Go!</a></li>
            </ol>
        </ol>
    </div>
</div>
