<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ApplicationDbContext" 
         connectionString="Data Source=db725800987.db.1and1.com;Initial Catalog=db725800987;Integrated Security=False;uid=dbo725800987;pwd=Sl0tC4rsG0!; MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="FacebookAppId" value="1302442066523694" />
    <add key="FacebookAppSecret" value="89b6e154e01e1b3610aefb4daf104151" />
    <add key="CredentialsDataStore" value="~/Credentials/" />
    <add key="BuildType" value="RELEASE" />    
  </appSettings>
</configuration>
